.Header {
        background: linear-gradient(to bottom, #DAE6FB, white);
        /* You can adjust the direction of the gradient by changing 'to bottom' to another value like 'to right', 'to top', 'to left', or even specific angles like '45deg'. */
}
.NavBar{
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    /* background-color: #CEE6F3; */

}

.Nav-title {
	display: inline-block;
	justify-content: left;
	padding-left: 5%;
}

a {
	text-decoration: none;
}

a:hover {
	color: #068FFF;
  text-decoration: none;
}

li .signup {
    display: block;
    /*padding: 2.5%;*/
    width: 100px;
    border-radius: 5px;
    color: #279EFF;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    text-align: center;
}

li .signup:hover {
	color: #102242;
}


.button-get-started:hover {
	color: #FFFF;
}

h1{
    color: #0775F4;
}

ul {
    display: flex;
    text-decoration: none;
    justify-content: right;
    align-items: center;
    /* margin-top: 5%; */
    color: #102242;
}

li {
    /*display: inline-block;*/
    margin-left: 10%;
    list-style-type: none;
}

.MedSync1{
    width: 100%;
    height: 500px;
    z-index: 1;
    margin-top: -800px;
    margin-bottom: 18px;
    /* margin-right: 100px; */
    /* border-radius: 50%; */
}
.CaptionImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.Caption {
    font-size: 60px;
    margin-left: 3%;
    /* margin-left: 20px; */
}
#img1Background {
    background-color: #DAE6FB;
    border-radius: 30%;
    width: 350px;
    height: 400px;
    z-index: -1;
    /* margin-left: 10px; */
    margin-top: 50px;
}
.text1{
    margin-top: -25px;
    margin-bottom: 30px;
    font-size: small;
    color: #102242;
}
.GetStarted{
    padding: 2.5%;
    border-radius: 5px;
    background-color: #0775F4;
    color: white;
    border: none;
}
.NumText{
    display: flex;
}
.NumText2{
    margin-left: 30px;
}
.NumText3{
    margin-left: 30px;
}
.num{
    color: #0775F4;
    margin-bottom: -20px;
    font-size: x-large;
    font-weight: 500;
}
.text{
    color: #102242;
}
.backgroundIcon{
    background-color: #DAE6FB;
    border-radius: 10px;
    padding: 40px;
    width: 40px;
    /* margin-left: 70px; */
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.categoryP{
    text-align: center;
    color: gray;
}
.categoryDiv{
    text-align: center;
    margin-top: 40px;
}
.category2Div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.category1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.7s;

}
/* .category1:hover,
.category2:hover,
.category3:hover,
.category4:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
} */
.category2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.category3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.category4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.categoryH2{
    font-size: xx-large;
    color: #102242;
}
.SignUp{
    border: solid  1px #102242;
    padding: 10px;
    border-radius: 10px;
    margin-top: -5px;
}
li:hover{
    color: #0775F4;
}
li {
    position: relative;
  }
  
  li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0775F4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  li:hover::after {
    transform: scaleX(1);
  }
  .Doctor1{
    width: 20%;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(159, 157, 157, 0.5);
  }
  .Doctor2{
    width: 20%;
    height: 400px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(159, 157, 157, 0.5);
  }
  .Doctor3{
    width: 20%;
    height: 400px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(159, 157, 157, 0.5);
  }
  .ImageDoctor1{
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .ImageDoctor2{
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .ImageDoctor3{
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .Meet{
    text-align: center;
    margin-top: 80px;
  }
  .Specialist{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .MedSync5{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: -30px;
    margin-left: -20px;
  }
  .patient-container{
    position: relative;
  }
  .patient1{
    width: 90%;
    height: 50%;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(198, 195, 195, 0.5);
    border-radius: 20px;

  }
  .patient2{
    width: 90%;
    height: 50%;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(212, 206, 206, 0.5);
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -70px;
  }
  .DesignationImg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .imgDesignation{
    width: 100%;
    height: 400px;
  }
  .iconH4P{
    display: flex;
  }
  .h2Designation{
    font-size: 40px;
    color: #102242;
  }
  .desIcon{
    background-color: #0775F4;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    /* padding: 10px; */
  }
  .desIcon i{
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }
  .desImg{
    margin-left: 20px;
    margin-top: -25px;
    margin-bottom: 20px;
  }
  .desImg p{
    margin-top: -15px;
    color: #5E6282;
  }
  .desImg h4{
    color: #5E6282;
  }
  .h3Designation{
    color: #5E6282;
  }
  .imgDiv{
    margin-left: 10%;
  }
  .AfterImg{
    background-color: #DAE6FB;
    border-radius: 20px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-self: center;
    margin-top: -103px;
    margin-left: 50px;
  }
  .Testimonial{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .TestimonialDiv2{
    margin-left: 20%;
  }
  .testh4{
    color: #5E6282;
    font-size: 25px;
    margin-left: 250px;
  }
  .CaptionTest1{
    color: #102242;
    font-size: 50px;
  }
  .CaptionTest2{
    margin-left: 200px;
    color: #102242;
    font-size: 50px;
  }
  .Ifeoma{
    margin-top: 30%;
    margin-bottom: -150px;
  }
  .Abuja{
    margin-top: 40%;
    margin-bottom: -80px;
  }
  .subSend{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  .subscribeDiv{
    background-color: #f3f6fa;
    width: 70%;
    height: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 100px 20px 20px 20px;
  }
  .sendIcon{
    background-color: #0775F4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -40px;
  }
  .subscribeDiv i{
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    margin-top: 29px;
  }
  .SubInput::placeholder{
    text-indent: 50px;
    font-size: 15px;
  }
  .sendIcon i{
    margin-top: 30px;
    margin-left: 10px;
  }
  .SubInput{
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    outline-color: #102242;
  }
  .SubButton{
    width: 15%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #0775F4;
    margin-left: 25px;
    color: white;
    font-size: 20px;

  }
  .SubText{
    color: #5E6282;
    font-size: 35px;
    
  }
  footer{
    background-color: #102242;
    padding: 50px;
  }
  .footerDiv{
    display: flex;
    justify-content: center;
  }
  .ServiceInfoContact{
    display: flex;
    color: white;
    margin-left: 100px;
  }
  .Info{
    margin-left: 50px;
  }
  .Contact{
    margin-left: 50px;
  }
  .ServiceInfoContact p{
    color: gray;
  }
  .footerTitle{
    color: white;
  }
  .footerTitle p{
    color: gray;
  }
  .footerIcon{
   margin-left: 100px;
   margin-top: 20px;
  }
  .footerIcon i{
    margin-left: 30px;
  }
