.navDoctor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(197, 193, 193, 0.2);
    position: fixed;
    z-index: 1;
    width: 100%;
}
.logo {
	color: black;
	margin-right: 10px;
}

.fa-bars {
	margin-right: 10px;
}

.search {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.SearchInput{
    display: flex;
}
.NavDiv{
    margin-top: 10px;
}

.sideNav{
    position: fixed;
    z-index: 0;
    height: 100vh;
}
.sideNavIcon{
    margin-left: 10px;
}
.profileDoctor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.Doctorh1{
    font-size: 20px;
    margin-left: 50px;
}
/* .BelowDashboard{
    display: flex;

} */
.mainBody{
    margin-left: 250px;
}
.mainBody2{
    margin-left: 0px;
    margin-top: 60px;
}
.mainBody2 h2{
    margin-left: 50px;
}
.mainBodyP{
    margin-left: 50px;
    color: gray;
}
.mainBody h2{
    margin-top: 70px;
    margin-left: 50px;
}

.SearchInput{
    margin-top: 10px;
    margin-left: -43%;
    margin-bottom: 10px;
}
.NavIcon{
    margin-right: 20px;
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(173, 171, 171) 1px;
}
.searchIcon{
    margin-left: -30px;
}
.bellIcon{
    margin-right: 30px;
    margin-top: 15px;
}
.messageIcon{
    margin-right: 10px;
    margin-top: 15px;
}
.profileDoctor{
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 5px;
}
.Drp{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.BMP{
    display: flex;
}
.mainBody{
    width: 100%;
    height: 100vh;
}
 .sideNav{
    background-color: #ffffff;
    padding-right: 100px;
    padding-left: 30px;
    box-shadow: 4px 0px 4px rgba(193, 184, 184, 0.2);
}

.sideNavActive{
    display: none;
}

.Body{
    display: flex;
}
.spanDiv{
    margin-top: 80px;

}
.spanDiv3{
    margin-top: 40px;
}
.spanDiv1{
    margin-top: 40px;
}

.spanDiv2{
    margin-top: 40px;
    font-size: 12px;
    color: gray;
}
.SRC{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}
.BelowDashboard{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.cartIcon{
    display: flex;
    margin-top: 40px;
}
.Today{
    color: gray;
}
.Month{
    color: gray;
}
.Year{
    color: gray;
}
.increase{
    margin-top: -50px;
    margin-left: 20px;
}

.increase p{
    margin-top: -20px;
    color: gray;
}
.saleDiv{
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
.RevenueDiv{
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
.CustomerDiv{
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    margin-left: -40px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
.Report{
    background-color: whitesmoke;
    margin-top: 40px;
    margin-left: 50px;
    width: 83%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
.spanReport{
    color: gray;
}
.RecentSale{
    background-color: whitesmoke;
    margin-top: 40px;
    margin-left: 50px;
    width: 83%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
.TopSale{
    background-color: whitesmoke;
    margin-top: 40px;
    margin-left: 50px;
    width: 83%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
}
th, td {
    text-align: left;
    padding: 20px;
  }
  th{
    margin-top: 510px;
  }

  .spanToday{
    color: gray;
  }
  .dashboardActivities{
    display: flex;
  }
  .Activity{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
  }
  .mins{
    color: gray;
  }
  .Activity p{
    margin-top: 30px;
  }
  .newUpdate{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(110, 107, 107, 0.3);
  }
  .spanNewUpdate{
    color: gray;
  }
  .news1{
    display: flex;
    margin-top: 30px;
  }
  .news2{
    display: flex;
    margin-top: 30px;
  }
  .news3{
    display: flex;
    margin-top: 30px;
  }
  .newsImg1{
    width: 70px;
    height: 50px;
    border-radius: 5px;
  }
  .newsImg2{
    width: 70px;
    height: 50px;
    border-radius: 5px;
  }
  .newsImg3{
    width: 70px;
    height: 50px;
    border-radius: 5px;
  }
  .newsh4{
    margin-left: 10px;
    margin-top: -30px;
  }
  .newsh4 p{
    margin-top: -10px;
    color: gray;
  }
.container-fluid {
	margin: 0 5% 5% 0;
}

.header {
	margin: 2% 5% 3% 5%;
}

.logo {
	text-decoration: none;
}

.search-button {
	margin-left: 2%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}
.link{
    text-decoration: none;
    color: #030a15;
}
@media (max-width: 1500px) {
    .SRC{
        grid-template-columns: repeat(2, 1fr);
    }
    #CustomerDiv{
        margin-left: 50px;
    }
    .RecentSale table {
        width: 100%;
        font-size: 14px;
        margin-left: -10px;
      }
      .RecentSale th,
      .RecentSale td {
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .SearchInput{
        margin-left: -20%;
      }

}

@media (max-width: 900px) {
.sideNav{
    display: none;
}
.NavDiv{
    color: #012970;
}
.NavIcon{
    color: #012970;
}
.sideNavActive{
    display: block;
    position: fixed;
    background-color: white;
    height: 100vh;
    padding: 30px;
    box-shadow: 4px 0px 4px rgba(193, 184, 184, 0.2);
}
.mainBody{
    margin-left: 0px;

}
#mainBodyh2{
    margin-left: 20px;
}
.mainBodyP{
    margin-left: 20px;
}
.SearchInput{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.mainBody{
    display: block;
}
.BelowDashboard{
    display: block;
    width: 100%;
}
.NavDiv{
    margin-top: 0px;
}
.SRC{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.BelowDashboard{
    display: block;
    margin-right: 0px;
}
.dashboardActivities{
    display: block;
    margin-left: 0px;
}
.Doctorh1{
    font-size: 18px;
    margin-left: 10px;
}
input{
    display: none;
}
.NavIcon{
    margin-bottom: -100px;
}
.searchIcon{
    margin-left: 100px;
    margin-right: 0px;
}
.Drp{
    display: none;
}
.BPM{
    /* margin-right: 50px; */
}
.profileDoctor{
    margin-right: 10px;
}
.bellIcon{
    /* margin: 0px; */
}
.messageIcon{
    /* margin: 0px; */
}
.RecentSale{
    /* width: 50px; */
}
.saleDiv{
    /* width: 100%; */
    margin-left: 20px;
    padding-right: 0px;
    width: 90%;
}
.RevenueDiv{
    margin-left: 20px;
    width: 90%;
}
#CustomerDiv{
    margin-left: 20px;
    width: 90%;
}
table{
    width: 50px;
    height: 5px;
}
.RecentSale table {
    width: 100%;
    font-size: 14px;
    margin-left: -10px;
  }
  .RecentSale th,
  .RecentSale td {
    padding: 5px;
  }
  .Report{
    margin-left: 20px;
    width: 90%;
  }
  .RecentSale{
    margin-left: 20px;
    width: 90%;
  }
  .TopSale{
    margin-left: 20px;
    width: 90%;
  }
  .RANU{
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .RRT{
    /* margin-right: 40px; */
  }
  .NavIcon{
    margin-left: 40px;
    margin-top: 10px;
  }
  .bellIcon{
    margin-left: 20px;
  }
  .messageIcon{
    margin-left: -20px;
  }
  .profileDoctor{
    margin-left: 0px;
  }
}
