.RegisterForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: whitesmoke;

}

.innerForm{
    background-color: white;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.head{
    color: rgb(39, 39, 77);
}

.account{
    text-align: center;
    color: rgb(39, 39, 77);
}

.enter{
    text-align: center;
}

h1 {
	padding-top: 3%;
}

label{
    margin-top: 20px;
}

input{
    margin-top: 5px;
    width: 350px;
}

button{
    width: 350px;
    padding: 12px;
    margin-top: 10px;
    background-color: rgb(99, 99, 244);
    color: white;
    border: none;
    border-radius: 10px;
}

.checkbox{
    display: inline;
    font-size: 12px;
}

.checkboxInput{
    width: 20px;
}

form{
    display: flex;
    flex-direction: column;
}
